.navbar {
       list-style: none ;
       margin: 0 ;
       padding: 0 ;
       overflow: hidden ;
}
.navbar li {
       display: inline ;
       margin: 20px ;
}
.hero-section {
       text-align: center ;
       font-size: x-large ;
       line-height: 0.3 ;
}

p {
       color: #5f1e1e ;
}
